tokenizer_path: /vol/data/trainings/mous/2sub/1to50hz_causal/emu3visionvq/lightning_logs/version_9/checkpoints/best-checkpoint.ckpt
train_tokenizer: false

trf_args:
  vocab_size: 32768
  num_layers: 12

  attn_args:
    d_model: 256
    nheads: 16
    dropout: 0.0
    rope: true

  mlp_args:
    d_model: 256

tok_args:
  codebook_size: 32768
  embed_dim: 256
  z_channels: 256
  double_z: False
  in_channels: 1
  out_channels: 1
  temporal_downsample_factor: 2
  ch: 128
  ch_mult: [1, 2, 2, 2, 2]
  num_res_blocks: 2
  attn_resolutions: [3]