codebook_size: 65536
embed_dim: 256
z_channels: 256
double_z: False
in_channels: 1
out_channels: 1
temporal_downsample_factor: 2
ch: 128
ch_mult: [1, 2, 2, 2, 2]
num_res_blocks: 2
attn_resolutions: [3]