torch
matplotlib
numpy
scipy
scikit-learn
mne
tensorboard
seaborn
pandas
clint
requests
flake8
transformers
dask
pytorch-lightning
modal
webdavclient3
jupyterlab
standard-imghdr
mypy
linear-attention-transformer
torchview
pytest
timm
mne_bids
pnpl