pytorch-lightning==2.5.6
torch
torchvision
matplotlib
numpy
scipy
scikit-learn
scikit-image
mne
tensorboard
seaborn
pandas
clint
requests
loguru
attrs
einops
tqdm
flake8
transformers
dask
modal
webdavclient3
jupyterlab
standard-imghdr
mypy
beartype
linear-attention-transformer
torchview
pytest
timm
mne_bids
pnpl
einx
vector_quantize_pytorch
wordfreq
xlstm
accelerate
tokenizers
diffusers
huggingface_hub
black
