model_config: configs/tasa3d/model.yaml
augmentations: configs/local/augmentations.yaml

save_dir: /vol/data/trainings/tasa3d
resume_from: null

model_name: TASA3D
loss_name: CrossEntropy

datasplitter:
  dataset_class: ChunkDatasetImageQuantized
  dataset_root: /vol/data/datasets/Omega/preprocessed
  example_seconds: 2
  overlap_seconds: 1
  val_ratio: 0.1
  test_ratio: 0.1

dataloader:
  batch_size: 16
  num_workers: 16
  prefetch_factor: 2
  pin_memory: true
  persistent_workers: true

loss:
  label_smoothing: 0.0
  l1: 0.0

lightning:
  lr: 2.0e-4
  weight_decay: 0.001
  compile: true
  log_samples: false
  log_psd: False
  sfreq: 200
  lr_scheduler:
    class_name: CosineAnnealingLR
    eta_min: 2.0e-6
    T_max: 50

trainer:
  max_epochs: 50
  accelerator: cuda
  profiler: null
  fast_dev_run: false
  check_val_every_n_epoch: 1
  log_every_n_steps: 10
  precision: 16-mixed
  gradient_clip_val: 10.0
